.outer-container {
    display:flex;
    justify-content:center;
}

.inner-container {
    max-width: 1000px;
}

.iot-device-container {
    padding:5px;
}

.iot-device-container table{
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.iot-device-container th{
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid lightgrey;
}

.iot-device-container td{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.device-status-heading {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.device-status-offline {
    background: darkred;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.device-status-online {
    background: darkgreen;
    font-weight: bold;
    color: white;
    padding: 5px;
}
