<html>
<head>
    {% load static %}
    {% load bootstrap5 %}
    {% load tz %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    <link rel="stylesheet" type="text/css" href="{% static 'sprinkler/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'sprinkler/device_status.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="outer-container">
    <div class="inner-container">
        <div class="device-status-heading">IOT devices</div>
        <div class="iot-device-container">
            <table>
                <th>Name</th>
                <th>Device Id</th>
                <th>Status</th>
                <th>Status time</th>
                <th>Voltage</th>
                <th>Commands</th>
                {% for device in all_devices %}
                    <tr>
                        <td>{{device.name}}</td>
                        <td>{{device.device_id}}</td>
                        <td>{{device.should_be_awake}}</td>
                        <td>{{device.get_latest_status.created|localtime }}</td>
                        <td>{{device.get_latest_status.supply_voltage|floatformat:2}}</td>
                        <td>
                            <button data-request_type="status" data-device_id="{{device.device_id}}">Get Status</button>
                            <button data-request_type="sprinkle-on" data-device_id="{{device.device_id}}">Start Sprinkle</button>
                            <button data-request_type="sprinkle-off" data-device_id="{{device.device_id}}">Stop Sprinkle</button>
                            {% comment %} TODO: rework this to sprinkle for X minutes {% endcomment %}
                            <button data-request_type="sprinkle-1-min" data-device_id="{{device.device_id}}">Sprinkle 1 minute</button>
                            <button data-request_type="sleep-1-min" data-device_id="{{device.device_id}}">Sleep for 1 min</button>
                            <button data-request_type="switch-broker-debug" data-device_id="{{device.device_id}}">Switch to debug broker</button>
                            <button data-request_type="switch-broker-prod" data-device_id="{{device.device_id}}">Switch to prod broker</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
</html>